body {
    display: flex;
    justify-content:center;
    background-color: rgb(127, 189, 127);
}
#calculator {
    display: flex;
    width: 400px;
    height: 600px;
    background-color: gray;
    flex: 0 0 auto;
    flex-wrap:wrap;
    justify-content: center;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 16px;
}

#display {
    display:flex;
    cursor: crosshair;
    align-items: center;
    font-size: 75px;
    width: 340px;
    height: 100px;
    border: 2px;
    background-color: rgb(86, 160, 86);
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    flex: 0 0 auto;
    margin-top: 30px;
}

#buttons {
    cursor:crosshair;
    display:flex;
    width: 340px;
    height:410px;
    margin-bottom: 30px;
    margin-top:30px;
    background: gray;
    flex-wrap:wrap;
} 